body {
    background-color: #E6E6FA;
    color: #191970;
}

h1 {
    color: #E6E6FA;
    background-color: #191970;
}

h2 {
   text-align: center;
   background-color: #AEAED4;
   color: #191970;
   border-bottom: 2px dashed #191970;
}
